# pandas 学习心得(1):数据类型简介
### Series 对象
- Series对象
- DataFrame对象
- Index对象

In [1]:
import numpy as np
import pandas as pd

Series 可理解为一个带索引(显示表示)的一维数组
Series 是通用的NumPy数组，numpy的ndarray数组通过隐式定义的整数索引获取数值(类似数学上的矩阵)，而pandas的Series对象用一种显式定义的索引与数值相互关联

In [2]:
data = pd.Series([3,6,5,4,1,8], index = ['a','b','c','d','e','f'])  # 从list中创建Series对象
data

a    3
b    6
c    5
d    4
e    1
f    8
dtype: int64

获取数值的方式:

In [3]:
data['c']

5

Series 也可以理解为一种特殊的字典，它具有键-值对

In [4]:
data2_dict = {'a':3, 'b':6, 'c':5}  # 从字典中创建Series对象
data2 = pd.Series(data2_dict)
data2

a    3
b    6
c    5
dtype: int64

用字典创建Series对象时， 其索引按默认顺序排序，它是有序的。
可参照字典数值的获取方式来获取Series对象的值

In [5]:
data2['c']

5

需要注意的是，Series只会保留显式定义的键值对

In [6]:
data3 = pd.Series(data2_dict, index = ['b', 'c'])  # 此处index 的元素必须是字典中的键
data3

b    6
c    5
dtype: int64

### DataFrame 对象

DataFrame 可理解为通用的 NumPy数组
也可将其看作有序排列的若干个 Series 对象。“排列”指的是 它们有相同的行索引

In [7]:
# 修改下data2 ，草草创建一个DataFrame对象
data2_dict['b'] = 9; data2_dict['c'] = 8
data3 = pd.Series(data2_dict)
df = pd.DataFrame({'data2':data2,
                  'data3':data3})
df

   data2  data3
a      3      3
b      6      9
c      5      8

因此，DataFrame也可理解为一种特殊的字典，含有键值对

#### DataFrame的创建
1. 通过单个Series创建
2. 通过字典列表创建(外层是列表， 内部元素是字典)
3. 通过Series对象字典创建(如上文,不说了）
4. 通过NumPy 二维数组创建
5. 通过结构化数组创建(感觉不实用，就不说了)

In [8]:
# 1.通过单个Series创建
pd.DataFrame(data2, columns = ['WTF???'])

   WTF???
a       3
b       6
c       5

In [9]:
# 2. 通过字典列表创建
dict1 = [{'a':i, 'b': 3*i}  
       for i in range(3)]  # 首先通过推导式创建一个列表， 元素为 字典
print(dict1)
pd.DataFrame(dict1)  # 行索引为隐式索引（默认），列索引为字典的键

[{'a': 0, 'b': 0}, {'a': 1, 'b': 3}, {'a': 2, 'b': 6}]

   a  b
0  0  0
1  1  3
2  2  6

In [10]:
pd.DataFrame(np.random.randint(10, size = (3,2)),
            columns = ['hhh','wtf'],
            index = ['a', 'b', 'c'])

   hhh  wtf
a    3    1
b    6    6
c    6    9

### Index 对象

1. 不可变数组
2. 有序集合(多集,可包含重复元素)

In [11]:
ind = pd.Index([2,5,1,2,6])
ind

Int64Index([2, 5, 1, 2, 6], dtype='int64')

可通过标准Python的取值方法获取数值，也可以用切片获取数值
如果尝试修改数值，则会报错

In [12]:
ind[0] = 1

TypeError: Index does not support mutable operations

可以对其进行集合的交(&)、并(|)

In [ ]:
indA = pd.Index([1,2,3])
indB = pd.Index([2,4,6])
print(indA & indB)
print(indA | indB)

注意，集合运算时，如果要对其中的每个元素进行操作时候，使用 & |  
如果要对整个对象进行集合操作， 使用 and or   
对于多元素的对象，只有当其数值都为0 或 都不为0时，整个对象才有 bool值  
下面整个例子使用 and 求交集就报错了

In [ ]:
indA and indB